{%extends "layout.html"%}
{% block content %}
<section class="text-center">
    <h2>Educational</h2>
    <div class="row mt-4 mb-0">
    {% for education in Educational %}
        <div class="col-lg-6 ">
        <div class="card h-75" style="width: 18rem;">
            <img src="{{url_for('static',filename='/book_pics/'+education.book_img)}}" class="card-img-top h-75" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{education.book_title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{education.author}}</h6>
              <h6 class="card-title">{{education.price}}</h5>
                <a href="{{url_for('add_to_cart',book_id=education.book_id)}}" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
          </div>
    
    {% endfor %}
    </div>
</section>
{% endblock %}