{%extends "layout.html"%}
{% block content %}

<div class="container text-black pt-5 mt-5">
    <h1>Order Successfully Placed!</h1>
    <h5>Items Ordered:</h5>
    <div class="d-grid">
        {% for item in items %}
        <div class="product-item">
            <a class="product-thumb" href="#"><img src="{{url_for('static',filename='/book_pics/'+item.image)}}" alt="Product" style="height: 200px; width: 200px;"></a>
            <div class="product-info">
                <h4 class="product-title"><a href="#">{{ item.title }}</a></h4>
                
            </div>
        </div>
        {% endfor %}
        <a href="{{url_for('home')}}" class="btn btn-custom">Return to Home</a>
    </div>
</div>

{% endblock %}